{% extends "layout.html" %}


{% block body %}
<h1 class="home">Login</h1>
<form action="/login" method="post">
  <div class="form-group ">
    <div class="m-3 button" id="loginbox">
      <input
        autocomplete="off"
        class="form-control "
        name="username"
        placeholder="Username"
        type="text"
      >
    </div>

    <div class="m-3 button" id="passwordbox">
      <input
        class="form-control"
        name="password"
        placeholder="Password"
        type="password"
      >
    </div>
    <div class="button">
      <button class="btn btn-dark" type="submit">Log In</button>
    </div>
  </div>  
</form>
{% endblock %}